/* Datenschutz.css */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background-color: #ffffff;
  }
  
  /* Optional: Allgemeine Stilregeln für Überschriften und Absätze */
  h2, h3, h4, p, ul, li {
    margin-bottom: 10px; /* Fügt einen Abstand nach unten für jedes Element hinzu */
  }
  
  ul {
    padding-left: 20px; /* Fügt Platz vor der Aufzählungsliste hinzu */
  }

  body {
    background-color: #f5f5f5;
  }