/* ProjektDetails.css */
.projekt-details-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background-color: #ffffff;
  }
  
  .projekt-image-container {
    text-align: center; /* Zentriert das Bild */
  }
  
  .projekt-description {
    margin-top: 20px;
  }
  
  body {
    background-color: #f5f5f5;
  }

  @media screen and (max-width: 768px) {
    .projekt-details-container {
      margin: 0 10px; /* Reduzieren Sie den Seitenabstand */
      padding: 10px; /* Reduzieren Sie den Innenabstand */
    }
  
    .projekt-header {
      flex-direction: column; /* Stapeln Sie Bild und Text vertikal */
      align-items: flex-start; /* Ausrichtung des Inhalts */
    }
  
    .projekt-intro {
      width: 100%; /* Vollständige Breite auf kleinen Bildschirmen */
      margin-left: 0; /* Entfernen Sie den linken Abstand */
    }
  
    .projekt-description {
      font-size: 14px; /* Verkleinern Sie die Schriftgröße für bessere Lesbarkeit */
    }
  
    img {
      width: 100%; /* Bilder nehmen die volle Breite ein */
      height: auto; /* Halten Sie das Seitenverhältnis der Bilder bei */
    }
  }