/* ProjektDetails.css */
.projekt-details-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background-color: #ffffff;
  }
  
  .projekt-image-container {
    text-align: center; /* Zentriert das Bild */
  }
  
  .projekt-description {
    margin-top: 20px;
  }
  
  body {
    background-color: #f5f5f5;
  }